/*容器的根布局样式**/
.container{
	display: flex;
	flex-direction: row;
}
/**lex-direction: row 属性**/
.row{
  display: flex;
  flex-direction: row;
}

/**flex-direction: row-reverse**/
.row-reverse{
  display: flex;
  flex-direction: row-reverse;
}


/*.item-1-1{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-1:{
	align-self: auto
}
.item-2{
	align-self: flex-start;
}
.item-3{
	align-self: flex-star;
}
.item-4{
	align-self: center;
}
.item-5{
	align-self: baseline;
}
.item-6{
	align-self: stretch;
}*/
